graft src

include README.rst
include LICENSE

recursive-exclude tests *

exclude src/mlx/submodule_guardian/_version.py
exclude *.yml
exclude .gitignore
exclude tox.ini
exclude MANIFEST.in

recursive-exclude .github *
